*.alpha:        0.8
*.background:   #07030D
*.color0:       #07030D
*.color1:       #825e46
*.color10:      #9d6c55
*.color11:      #7c4355
*.color12:      #4e9062
*.color13:      #a88c5d
*.color14:      #a8965f
*.color15:      #8b9bc2
*.color2:       #9d6c55
*.color3:       #7c4355
*.color4:       #4e9062
*.color5:       #a88c5d
*.color6:       #a8965f
*.color66:      #07030D
*.color7:       #8b9bc2
*.color8:       #616c87
*.color9:       #825e46
*.font: monospace:size=12
*.foreground:   #8b9bc2
*background:    #07030D
*color0:        #07030D
*color10:       #9d6c55
*color11:       #7c4355
*color12:       #4e9062
*color13:       #a88c5d
*color14:       #a8965f
*color15:       #8b9bc2
*color1:        #825e46
*color2:        #9d6c55
*color3:        #7c4355
*color4:        #4e9062
*color5:        #a88c5d
*color6:        #a8965f
*color66:       #07030D
*color7:        #8b9bc2
*color8:        #616c87
*color9:        #825e46
*foreground:    #8b9bc2

xscreensaver.newLoginCommand: dm-tool switch-to-greeter

URxvt*background:       [100]#07030D
URxvt*borderColor:      [100]#07030D
URxvt*cursorColor:      #8b9bc2
URxvt*depth:    32
URxvt*foreground:       #8b9bc2
UXTerm*background:      #07030D
UXTerm*cursorColor:     #8b9bc2
UXTerm*foreground:      #8b9bc2
XClock*background:      #07030D
XClock*foreground:      #8b9bc2
XClock*hourColor:       rgba:8b/9b/c2/ff
XClock*majorColor:      rgba:8b/9b/c2/ff
XClock*minorColor:      rgba:8b/9b/c2/ff
XClock*minuteColor:     rgba:8b/9b/c2/ff
XClock*secondColor:     rgba:8b/9b/c2/ff
XTerm*background:       #07030D
XTerm*cursorColor:      #8b9bc2
XTerm*foreground:       #8b9bc2
emacs*background:       #07030D
emacs*foreground:       #8b9bc2
